{% extends 'base.html' %}


{% block content %}
<h4>Please Login</h4>
<form action="" method="post">
   
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username">
          </div>
          
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
          </div>
          
          <div class="input-group mb-3">
            
            <button class="btn btn-secondary" type="submit">Login</button>
          </div>
</form>
{% endblock content %}