{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 77rem">
    <div class="card-header">
        <h4 class='' style="color: darkgrey";>Posted Notes</h4>
<!-- ##################   to upload a file     ################### -->


<h1 class='' style="color: darkgrey">File Upload</h1>

<center>
<form method=post enctype=multipart/form-data style="color: darkgrey">
  <input type=file name=file>
  <input type=text name="editor" placeholder="editor username">
  <input type=submit value=Upload>
</form>
</center>
    </div>
    
  </div>

{% endblock content %}