{% extends 'base.html' %}

{% block content %}

<h4>Register for access</h4>
<form action="" method='post'>
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
      
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="school" name="school">
      </div>
      

      <div class="input-group mb-3">
        
        <button class="btn btn-secondary" type="submit">Register</button>
      </div>
      </form>

{ % endblock content %}
{% endblock %}